<section class="section about" id="about">
    <div class="container">

      <figure class="about-banner">

        <img src="./assets/images/profile.jpg" width="800" height="652" loading="lazy" alt="Ethan's Photo"
          class="img-cover">

        <img src="./assets/images/basketball.gif" width="800" height="717" loading="lazy" alt="Ethan's Photo"
          class="abs-img">

        <div class="abs-icon abs-icon-1">
          <ion-icon name="logo-react"></ion-icon>
        </div>

        <div class="abs-icon abs-icon-2">
          <ion-icon name="logo-javascript"></ion-icon>
        </div>

        <div class="abs-icon abs-icon-3">
          <ion-icon name="logo-stackoverflow"></ion-icon>
        </div>

      </figure>

      <div class="about-content">
        <div class=fakeMenu>
          <div class="fakeButtons fakeClose"></div>
          <div class="fakeButtons fakeMinimize"></div>
          <div class="fakeButtons fakeZoom"></div>
        </div>
        <div class="fakeScreen">
          <p class="line1 style-P">$ About Me { <br>
            I'm a high school student who spends the most of my time working on projects like frontend and backend web development, iot, and competitive programming.
         <br>}
            
            
            
            <span class="cursor1 style-span">_</span></p>
          <!-- <p class="line2 style-P">
            Education {
              <a href="http://www.sriyapai.ac.th/2014/" target="_blank" style="font-size: 14px;">Sriyapai School (High School 2018 - Present)</span></a>
              } -->
          <p class="line2 style-P">
              Contact {
                <br><a href="tel:+66620947256" target="_blank" style="font-size: 14px;">Tel : +66 62 094 7256</span>
                <br><a href="mailto:makufff.tanapat@gmail.com" target="_blank" style="font-size: 14px;">Mail : makufff.tanapat@gmail.com</span>
                <br><a href="https://www.facebook.com/tanapat.chamted.7/" target="_blank" style="font-size: 14px;">Facebook : Tanapat Chamted</span>
                <br><a href="https://www.instagram.com/_.makufff.js/  " target="_blank" style="font-size: 14px;">Instagram : _.makufff.js</span>
                <br><a href="https://github.com/Makufff/" target="_blank" style="font-size: 14px;">Github : makufff</span>
                   </a><br> }
              <span class="cursor2 style-span">_</span></p>
         
          <a href="#skills"><p class="line3 style-P">[?] Please click me if you want to see more of my talent ? (Click Me to Skills)<span class="cursor3">_</span></p></a>
          <p class="line4 style-P">><span class="cursor4 style-span">_</span></p>
        </div>

        <!-- <a href="#portfolio" class="btn btn-primary blue">View Portfolio</a> -->

      </div>

    </div>
  </section>