<section class="section blog" id="Activity">
    <div class="container">

      <p class="section-subtitle"></p>

      <h2 class="h2 section-title">Activity</h2>

      <p class="section-text">
      </p>

      <ul class="blog-list">

        <li>
          <div class="blog-card">
            <figure class="card-banner">
              <a>
                <img src="./assets/images/Linebot.png" width="1181" height="843" class="img-cover">
              </a>
            </figure>

            <a class="card-tag">Line Bot</a>

            <h3 class="card-title">
              <a>Developing smart locks with Line bots and embedded systems.</a>
            </h3>

          </div>
        </li>

        <li>
          <div class="blog-card">

            <figure class="card-banner">
              <a>
                <img src="./assets/images/Studenconcil.jpg" width="1181" height="843" class="img-cover">
              </a>
            </figure>

            <a class="card-tag">Received the National Outstanding Child and Youth Group Award</a>

            <h3 class="card-title">
              <a>Received the National Outstanding Child and Youth Group Award social development Promote participation of children and youth On the occasion of National Youth Day 2022</a>
            </h3>

          </div>
        </li>

        <li>
          <div class="blog-card">

            <figure class="card-banner">
              <a>
                <img src="./assets/images/Science.jpg" width="1181" height="843" class="img-cover">
              </a>
            </figure>

            <a class="card-tag">is the organizer of the technology exhibition on science day</a>

            <h3 class="card-title">
              <a>I am the organizer of the technology exhibition and is the examiner of the science day.</a>
            </h3>

          </div>
        </li>

      </ul>

    </div>
</section>