<section class="section blog" id="Certificate">
  <div class="container">

    <h2 class="h2 section-title">Certificate</h2>

    <p class="section-text">
 
    </p>

    <ul class="blog-list">

      <li>
        <div class="blog-card">

          <figure class="card-banner">
            <a href="https://www.facebook.com/WOIPOSN" target="_blank">
              <img src="./assets/images/POSN.jpg" width="1181" height="843" class="img-cover">
            </a>
          </figure>

          <a href="https://www.facebook.com/WOIPOSN" target="_blank" class="card-tag">POSN CAMP 1</a>

          <h3 class="card-title">
            <a href="https://www.facebook.com/WOIPOSN" target="_blank">Course training Academic Olympiad Camp 1 at Walailak University Center Nakhon Si Thammarat</a>
          </h3>

        </div>
      </li>

      <li>
        <div class="blog-card">

          <figure class="card-banner">
            <a href="https://ku01.org/" target="_blank">
              <img src="./assets/images/KU01.jpg" width="1181" height="843" class="img-cover">
            </a>
          </figure>

          <a href="https://ku01.org/" target="_blank" class="card-tag">KU01</a>

          <h3 class="card-title">
            <a href="https://ku01.org/" target="_blank">Problem-solving skills test according to the program of Kasetsart University</a>
          </h3>

        </div>
      </li>

      <li>
        <div class="blog-card">

          <figure class="card-banner">
            <a href="https://www.facebook.com/groups/130760193605030" target="_blank">
              <img src="./assets/images/NSC.jpg" width="1181" height="843" class="img-cover">
            </a>
          </figure>

          <a href="https://www.facebook.com/groups/130760193605030" target="_blank" class="card-tag">National Software Contest 24th</a>

          <h3 class="card-title">
            <a href="https://www.facebook.com/groups/130760193605030" target="_blank">Disease detection in durian from aerial photographs project code : 24p22s0067</a>
          </h3>

        </div>
      </li>

      <li>
        <div class="blog-card">

          <figure class="card-banner">
            <a href="https://www.codekathon.com/" target="_blank">
              <img src="./assets/images/Codekathon.png" width="1181" height="843" class="img-cover">
            </a>
          </figure>

          <a href="https://www.codekathon.com/" target="_blank" class="card-tag">Codekathon</a>

          <h3 class="card-title">
            <a href="https://www.codekathon.com/" target="_blank">Project to upgrade coding skills to creativity
              Smart Innovation Project at Nakhon Si Thammarat Province</a>
          </h3>

        </div>
      </li>

      <li>
        <div class="blog-card">
          <figure class="card-banner">
            <a href="https://www.facebook.com/profile.php?id=100076757115003" target="_blank">
              <img src="./assets/images/Sriyapai_Hackathon.png" width="1181" height="843" class="img-cover">
            </a>
          </figure>

          <a href="https://www.facebook.com/profile.php?id=100076757115003" target="_blank" class="card-tag">Sriyapai Hackathon 1st</a>

          <h3 class="card-title">
            <a href="https://www.facebook.com/profile.php?id=100076757115003" target="_blank">
              Award winning test of problem solving ability by programming</a>
          </h3>

        </div>
      </li>

</section>