<footer class="footer" id="contact">
    <div class="container">
      <p class="copyright">
        &copy;<a href="https://github.com/Makufff" target="_blank" class="copyright-link"> Makufff</a> 2022
      </p>
      <div style="text-align: center; ">
        <a style="display:inline-block;" href="tel:+66620947256"><i class="fa-solid fa-phone" style="font-size: 1.2em"></i></a>
        <a style="display:inline-block;" href="mailto:makufff.tanapat@gmail.com" target="_blank"><i class="fa-solid fa-envelope" style="font-size: 1.5em"></i></a>
        <a style="display:inline-block;" href="https://www.facebook.com/tanapat.chamted.7/" target="_blank"><i class="fa-brands fa-facebook" style="font-size: 1.5em"></i></a>
        <a style="display:inline-block;" href="https://www.instagram.com/_.makufff.js/" target="_blank"><i class="fa-brands fa-instagram" style="font-size: 1.5em"></i></a>
        <a style="display:inline-block;" href="https://github.com/Makufff/" target="_blank"><i class="fa-brands fa-github" style="font-size: 1.5em"></i></a>
      </div>

    </div>
</footer>