<section class="hero" id="home">
    <div class="container">

      <div class="hero-banner">

        <img src="./assets/images/hero-banner.jpg" width="800" height="864" loading="lazy" alt="Ethan's Photo"
          class="img-cover">

        <div class="elem elem-1">
          <p class="elem-title" style="font-family: Minecraft-Font;">17</p>

          <p class="elem-text" style="font-family: Minecraft-Font; font-size: 36px;">Years old</p>
        </div>

        <div class="elem elem-2">
          <p class="elem-title" style="font-family: Minecraft-font;">POSN</p>

          <p class="elem-text">In Walailak University</p>
        </div>

        <div class="elem elem-3">
          <ion-icon name="trophy"></ion-icon>
        </div>

        <img src="https://static.wikia.nocookie.net/14421d37-2407-4db5-a490-646f4a2678c4/scale-to-width/755" width="169" height="172" alt="I'm Newbie Developer"
          class="rotate-img">

      </div>

      <div class="hero-content">

        <h2 class="hero-title">
          <span style="font-family:Minecraft-Font;" id="Hello_World">Hello World!</span>
          <br><span style="font-size: 5rem">Tanapat Chamted</span><br>Student form Sriyapai School
        </h2>

        <p class="hero-text">
        </p>

        <div class="btn-group">
          <a href="https://drive.google.com/u/0/uc?id=1lzPjgZFg9SSuo0UrN9Gv4cc1kheoNVUc&export=download" class="btn btn-primary blue">Download CV [TH]</a>
          <a href="https://drive.google.com/u/0/uc?id=10gI4Za1BW_Syc5dOJGxTRXoVaKZ747bj&export=download" class="btn btn-primary blue">Download CV [EN]</a>

          <!-- <a href="#about" class="btn">About Me</a> -->
        </div>

      </div>

    </div>
</section>