<header class="header" data-header>
    <div class="container">

      <a href="#">
        <h1 class="logo">Tachamte</h1>
      </a>

      <button class="nav-toggle-btn" aria-label="Toggle Menu" data-nav-toggle-btn>
        <ion-icon name="menu-outline" class="menu-icon"></ion-icon>
        <ion-icon name="close-outline" class="close-icon"></ion-icon>
      </button>

      <nav class="navbar container">
        <ul class="navbar-list">

          <li>
            <a href="#home" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li>
            <a href="#about" class="navbar-link" data-nav-link>About</a>
          </li>

          <li>
            <a href="#skills" class="navbar-link" data-nav-link>Skills</a>
          </li>

          <li>
            <a href="#Certificate" class="navbar-link" data-nav-link>Certificate</a>
          </li>
          
          <li>
            <a href="#Activity" class="navbar-link" data-nav-link>Activity</a>
          </li>

          <li>
            <a href="#Projects" class="navbar-link" data-nav-link>Projects</a>
          </li>

          <li>
            <a href="#contact" class="navbar-link" data-nav-link>Contact</a>
          </li>


        </ul>
      </nav>

    </div>
</header>