<section class="section blog" id="Projects">
  <div class="container">

    <p class="section-subtitle"></p>

    <h2 class="h2 section-title">Projects</h2>

    <p class="section-text">
    </p>

    <ul class="blog-list">

      <li>
        <div class="blog-card">

          <figure class="card-banner">
            <a href="https://github.com/Makufff/Mini_NameCheck" target="_blank">
              <img src="./assets/images/locate_login.png" width="1181" height="843" class="img-cover">
            </a>
          </figure>

          <a href="https://github.com/Makufff/Mini_NameCheck" target="_blank" class="card-tag">Application for checking location access
          </a>
          <h3 class="card-title">
            <a href="https://github.com/Makufff/Mini_NameCheck" target="_blank">Application for checking location access using Tkinter
            </a>
          </h3>

        </div>
      </li>

      <li>
        <div class="blog-card">

          <figure class="card-banner">
            <a>
              <img src="./assets/images/Search_app.png" width="1181" height="843" class="img-cover">
            </a>
          </figure>

          <a class="card-tag">Search Student Webapp</a>

          <h3 class="card-title">
            <a>System to search for student names for entrance examinations for grade 1 and grade 4 students</a>
          </h3>

        </div>
      </li>

      <li>
        <div class="blog-card">

          <figure class="card-banner">
            <a href="https://www.facebook.com/groups/130760193605030" target="_blank">
              <img src="./assets/images/drone.png" width="1181" height="843" class="img-cover">
            </a>
          </figure>

          <a href="https://www.facebook.com/groups/130760193605030" target="_blank" class="card-tag">DruDrone</a>

          <h3 class="card-title">
            <a href="https://www.facebook.com/groups/130760193605030" target="_blank">Durian disease detection system using Image Processing   
            </a>
          </h3>

        </div>
      </li>

      <li>
        <div class="blog-card">

          <figure class="card-banner">
            <a href="https://valentalk-valentine.vercel.app/" target="_blank">
              <img src="./assets/images/Valentine.png" width="1181" height="843" class="img-cover">
            </a>
          </figure>

          <a href="https://valentalk-valentine.vercel.app/" target="_blank" class="card-tag">Valentalk Valentine's PostCard</a>

          <h3 class="card-title">
            <a href="https://valentalk-valentine.vercel.app/" target="_blank">Postcard system tells about love experiences Valentalk-Valentine activities On Valentine's Day, Academic Year 2021</a>
          </h3>

        </div>
      </li>

      <li>
        <div class="blog-card">

          <figure class="card-banner">
            <a href="https://owledge.vercel.app/" target="_blank">
              <img src="./assets/images/Owledge.png" width="1181" height="843" class="img-cover">
            </a>
          </figure>

          <a href="https://owledge.vercel.app/" target="_blank" class="card-tag">Owledge</a>

          <h3 class="card-title">
            <a href="https://owledge.vercel.app/" target="_blank">The main purpose of this website is Creating a learning society where each member can learn about their favorite subjects and share their knowledge in their area of ​​expertise. We believe that knowledge sharing is beneficial to both those who transmit knowledge and those who receive it in one way or another.</a>
          </h3>

        </div>
      </li>

      <li>
        <div class="blog-card">

          <figure class="card-banner">
            <a>
              <img src="./assets/images/remet.png" width="1181" height="843" class="img-cover">
            </a>
          </figure>

          <a class="card-tag">Remet</a>

          <h3 class="card-title">
            <a>Smart Helmet</a>
          </h3>

        </div>
      </li>
      
      <li>
        <div class="blog-card">

          <figure class="card-banner">
            <a>
              <img src="./assets/images/Pickuptennis.png" width="1181" height="843" class="img-cover">
            </a>
          </figure>

          <a class="card-tag">Tennis ball picker Robot</a>

          <h3 class="card-title">
            <a>It is a project for graduating from Grade 11, a robot collecting tennis balls so that athletes and people who play tennis do not have to waste energy running to collect the balls for convenience.</a>
          </h3>

        </div>
      </li>

    </ul>

  </div>
</section>