<section class="section skills" id="skills">
    <div class="container">

      <h2 class="h2 section-title">I Develop Skills</h2>

      <p class="section-text">
      </p>

      <ul class="skills-list">

        <li class="skills-item">
          <div class="wrapper" style="width: 100%">
            <h3 class=" skills-title">CSS</h3>

            <data class="skills-data" value="50">50%</data>
          </div>

          <div class="skills-progress-box">
            <div class="skills-progress" style="width: 50%"></div>
          </div>
        </li>

        <li class="skills-item">
          <div class="wrapper" style="width: 100%">
            <h3 class="skills-title">React</h3>

            <data class="skills-data" value="20">20%</data>
          </div>

          <div class="skills-progress-box">
            <div class="skills-progress" style="width: 20%"></div>
          </div>
        </li>

        <li class="skills-item">
          <div class="wrapper" style="width: 100%">
            <h3 class="skills-title">C / C++</h3>

            <data class="skills-data" value="90">90%</data>
          </div>

          <div class="skills-progress-box">
            <div class="skills-progress" style="width: 90%"></div>
          </div>
        </li>

        <li class="skills-item">

          <div class="wrapper" style="width: 100%">
            
            <h3 class="skills-title">Python</h3>

            <data class="skills-data" value="70">70%</data>

          </div>

          <div class="skills-progress-box">

            <div class="skills-progress" style="width: 70%"></div>

          </div>

        </li>

        <li class="skills-item">

          <div class="wrapper" style="width: 100%">

            <h3 class="skills-title">PHP</h3>

            <data class="skills-data" value="80">40%</data>

          </div>

          <div class="skills-progress-box">

            <div class="skills-progress" style="width: 40%"></div>

          </div>

        </li>

        <li class="skills-item">

          <div class="wrapper" style="width: 100%">

            <h3 class="skills-title">JavaScript</h3>

            <data class="skills-data" value="40">40%</data>

          </div>

          <div class="skills-progress-box">

            <div class="skills-progress" style="width: 40%"></div>

          </div>

        </li>

        <li class="skills-item">

          <div class="wrapper" style="width: 100%">

            <h3 class="skills-title">SQL</h3>

            <data class="skills-data" value="40">30%</data>

          </div>

          <div class="skills-progress-box">
            
            <div class="skills-progress" style="width: 30%"></div>

          </div>

        </li>
        
        <li class="skills-item">

          <div class="wrapper" style="width: 100%">

            <h3 class="skills-title">Typescript</h3>

            <data class="skills-data" value="40">30%</data>

          </div>

          <div class="skills-progress-box">

            <div class="skills-progress" style="width: 30%"></div>

          </div>

        </li>

      </ul>

    </div>

</section>
